.plugin {
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	border:1px solid #8EBBE4;
	margin:10px 0;
	padding:5px;
	width:600px;
	font-size:11px;

}
.plugin h4 {
	clear:both;
	float:left;
	width:150px;
	font-weight:bold;
}
.plugin caption {
	text-transform:uppercase;
	font-weight:bold;
}
.plugin .sectionContent {
	float:left;
	margin-bottom:20px;
	width:440px;
}
.plugin .tableContent {
	clear:both;
}
.plugin .highrise input  {
	width:230px;
}
.plugin .ringioUser select  {
  width:120px;
}

.plugin #user_maps_index {
	margin-top:20px;
}
.plugin #newRecordTable , #newRecordButton{
	margin-bottom:20px;
}

.plugin input {
	border:1px solid #87B1D7;
	color:#064168;
	cursor:default;
	height:18px;
	padding-left:1px;
}
.plugin table th {
	padding-left:3px;
}
.plugin span.highrise {
	width:233px;
}
.plugin span.ringioUser {
	width:125px;
}
.plugin span.actions {
	text-align:center;
}
.plugin span.actions input, .plugin .button_to input {
	border-width:0;
	color:#36F;
	background-color:transparent;
	cursor:pointer;
}
.plugin span.radioCell {
	text-align:center;
	width:80px;
}
.checkboxPanel label {
	float:none;
	
}
.plugin .button_to input { padding-top:7px; height:22px;}
.plugin input.button {
	height:21px;
	cursor:pointer;
	color:#fff;
}

.plugin #savePlugin {
	clear:both;
	padding-left:150px;
}

.plugin .fieldGroup {
	margin-bottom:5px;
}

div.thead {
	background: #8EBBE4;
	color:#fff;
	margin-top:10px;
}
 div.tableRecord {
 	border-bottom:solid 1px #8EBBE4;
	
 }
form.edit_user_map {
	float:left;
	
}
div.thead span, div.tableRecord span {
	float:left;
	padding:5px 0 5px 3px;
	
	
}

#wait {	  
    background: url("../images/preloader.gif") no-repeat  10px 5px #FFFFFF;
    border: 1px solid #8EBBE4;
    float: left;
    font-size: 13px;
    left: 50%;
    line-height: 36px;
    padding: 3px 20px 3px 55px;
    position: absolute;
    top: 50%;
		
		-moz-border-radius: 7px;
    webkit-border-radius: 7px;
    border-radius: 7px;
		
    -moz-box-shadow: 0 0 10px #CCC;
    webkit-box-shadow: 0 0 10px #CCC;
    box-shadow: 0 0 10px #CCC;	
}
