body { background-color: #fff; color: #333; }

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #000; }
a:visited { color: #666; }
a:hover { color: #fff; background-color:#000; }

div.field, div.actions {
  margin-bottom: 10px;
}

form.edit_user_map {
  display: inline;
}

form.button_to {
	display: inline;
}

form.button_to div {
  display: inline;
}

#notice_set {
  background: url("../images/img15/msg_ok_25.png") no-repeat scroll 2px 1px #8EDB00;
	-moz-border-radius: 4px 4px 4px 4px;
  color: #FFFFFF;
  font-size: 13px;
  line-height: 26px;
  padding: 0 15px 0 31px;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation, #error_explanation_set {
  border: 1px solid #FF3838;
  color: #666666;
  margin-bottom: 10px;
  padding: 5px;
	-moz-border-radius: 4px;
	webkit-border-radius: 4px;
	border-radius: 4px;
}

#error_explanation h2, #error_explanation_set h2 {
  background: url("../images/img15/msg_ko.png") no-repeat scroll left top transparent;
  border-bottom: 1px solid #FF3838;
  color: #FF3838;
  line-height: 34px;
  margin: 0 0 5px 13px;
  padding: 0 0 5px 40px;
}

#error_explanation ul li, #error_explanation_set ul li {
  font-size: 12px;
  list-style: square;
	margin-left: 40px;
}
